{% extends 'projects/base.html' %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Project Tracker{% if user.is_authenticated %} | {{ user.username }}{% endif %}</title>
</head>
<body>
    {% block body %}
        {% for project in project_list %}
            {% if project.created_by == user %}
                <div class="row">
                    <div class="col-md-3 offset-md-2">
                        <img src="../media/{{ project.image }}" height="150px" alt="" class="card">
                    </div>
                    <div class="col-md-4">
                        <h3>{{ project.name }}</h3>
                        <h5>Status: {{ project.get_status_display }}</h5>
                        <h6>Priority: {{ project.get_priority_display }}</h6>
                    </div>
                    <div class="col-md-2">
                        <a href="{% url 'projects:detail' project.id %}" class="btn btn-success">Details</a>
                        <a href="{% url 'projects:update_project' project.id %}" class="btn btn-primary">Edit</a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endblock %}
</body>
</html>